{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v6.0&appId=1003273176733826&autoLogAppEvents=1"></script>
<main>
  <div class="container">

    <!--Section: Products v.3-->
    <section class="mb-4">

      <!--Grid row-->
      <div class="row wow fadeIn">
        <div class="col-6 offset-3 pt-5">


          <h1>{% trans "Sign In" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for an account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers p-0">
              <!-- {% include "socialaccount/snippets/provider_list.html" with process="login" %} -->
              <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false">Facebook Connect</a>
            </ul>

            <!-- <div class="login-or">{% trans 'or' %}</div> -->

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</main>



{% endblock %}